body {
    background-color: lightgray;
}

.box {
    padding: 60px 0;
}

.fa {
    color: #4183D7;
}

.box-part {
    background-color: white;
    padding: 50px 10px;
    margin: 20px 0;
}

a {
    color: #4183D7;
    padding-bottom: 1px;
}

a:hover{
    border-bottom: 1px solid #4183D7;
}
